@font-face {
    font-family: "Atlantis Headline";
    src: url(fonts/atlantis/AtlantisHeadline-Bold.otf) format("opentype"),
         url(fonts/atlantis/AtlantisHeadline-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Atlantis Smallcaps";
    src: url(fonts/atlantis/Atlantis-RegularSmallCaps.otf) format("opentype"),
         url(fonts/atlantis/Atlantis-RegularSmallCaps.otf) format("truetype");
}
@font-face {
    font-family: "SF Pixelate";
    src: url(fonts/sf-pixelate/SFPixelate.ttf) format("truetype");
}
#devToolbar{
    background-color: white;
    font: initial;
    animation: none;
    text-shadow: none;
    color: black;
}
:root {
    --se-bright: #f4e0fd;
    --se-link: #e7a4f0;
    --se-light: #ca50da;
    --se-regular: #9a10c8;
    --se-moody: #611685;
    --se-success: #0c0;
    --se-success-pop: #030;
    --se-warning: #f00;
    --se-warning-pop: #500;
    /* FIND DEFAULT DROPSHADOW COLORS IN app.js. THESE ARE PREADJUSTED.*/
    --se-bright-dropshadow: #f4e0fd2a;
    --se-light-dropshadow: #ca50da21;
    --se-regular-dropshadow: #9a10c836;
    /* Flicker constants */
    --lu-flicker-off: brightness(0.9);
    --lu-flicker-on: brightness(1.1);
}
.contentColumn {
    width: 1030px;
    margin: 0 auto;
}
body {
    background: #080808;
    background-image: url(images/tilingBg.png);
    background-size: 800px;
    image-rendering: pixelated;
    -webkit-text-size-adjust: none;
    font-family: "SF Pixelate";
    font-size: 120%;
    color: var(--se-bright);
    text-shadow: 0.1em 0.1em 0 #000b, 0 0 10px var(--se-bright-dropshadow);
}
div:not(.noStatic):not(.flickering) {
    animation: static 2s infinite;
}
h1 {
    margin: 0;
    font-family: "Atlantis Headline";
    display: inline;
    font-size: 250%;
    color: var(--se-regular);
    text-shadow: 0.1em 0.1em 0 #000b, 0 0 24px var(--se-regular-dropshadow);
    -webkit-text-stroke: var(--se-bright) 0.0125em;
} 
h2 {
    margin: 0;
    font-family: "Atlantis Headline";
    display: inline;
    font-size: 120%;
    color: var(--se-light);
    text-shadow: 0.1em 0.1em 0 #000b, 0 0 16px var(--se-light-dropshadow);
    -webkit-text-stroke: var(--se-regular) 0.05em;
}
p {
    margin: 8px 0 16px 0;
    line-height: 150%;
}
table, tr {
    vertical-align: top;
    animation: fadeIn 1s;
}
a {
    text-decoration: inherit;
    color: var(--se-link);
    text-shadow: 0.1em 0.1em 0 #000b, 0 0 10px var(--se-light-dropshadow);
    -webkit-text-stroke: var(--se-regular) 0.025em;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    &:active {
        opacity: 0.4;
    }
}
.mainAction {
    background-color: var(--se-light);
    /* width: fit-content; */
    padding: 20px 27px 10px 20px;
    border: 2px solid #fff5;
    border-radius: 12px;
}
.mainAction h2 {
    color: var(--se-bright);
    text-shadow: 0.1em 0.1em 0 #000b, 0 0 10px var(--se-bright-dropshadow);
    -webkit-text-stroke: var(--se-light) 0.025em;
}
ul {
    margin: 16px 0 0 6px;
    padding: 0;
    line-height: 150%;
    list-style-type: none;
}
li {
    margin: 0 0 16px 0;
}
#guestbookEmbed {
    border: none;
    width: 100%;
    height: 700px;
}
svg {
    filter: drop-shadow(0 0 10px var(--se-bright));
}
svg.bullet {
    transform: translateY(4px);
    width: 22px;
}
path.bullet {
    display: inline;
    fill: var(--se-bright); 
}
img.bullet {
    filter: drop-shadow(0.1em 0.1em 0 #000b) drop-shadow(0 0 10px var(--se-light));
    transform: translateY(4px);
    width: 22px;
}
.dismissCard {
    float: right;
    transform: translate(14.5px, -14px);
    background-color: #555;
    border: 2px solid #fff5;
    border-radius: 0 12px 0 0;
    padding: 6px 24px;
    font-family: "SF Pixelate";
    font-size: 120%;
    color: var(--se-bright);
    text-shadow: 0.1em 0.1em 0 #000b, 0.1em 0.1em 0.5em var(--se-bright-dropshadow);
    -webkit-text-stroke: var(--se-warning) 0.025em;
    &:hover {
        background-color: var(--se-warning-pop);
        cursor: pointer;
    }
    &:active {
        background-color: var(--se-warning);
    }
}
.caption {
    opacity: 0.6; 
    font-size: 75%;
}
.success{
    color: var(--se-success);
    text-shadow: 0.1em 0.1em 0 #000b, 0.1em 0.1em 0.5em var(--se-bright-dropshadow);
    -webkit-text-stroke: var(--se-success-pop) 0.025em;
}
.successCard {
    background-color: var(--se-success-pop) !important;
}
.warning {
    color: var(--se-warning);
    text-shadow: 0.1em 0.1em 0 #000b, 0.1em 0.1em 0.5em var(--se-bright-dropshadow);
    -webkit-text-stroke: var(--se-warning-pop) 0.025em;
}
.warningCard {
    background-color: var(--se-warning-pop) !important;
}
.signCard {
    background-color: #222 !important;
}
.paperCard {
    background-color: #eed !important;
    border-radius: 0 !important;
    padding: 50px !important;
    & > * {
        color: #000;
        filter: none !important;
        text-shadow: none !important;
        -webkit-text-stroke: black 0px !important;
    }
}
.card {
    border: 2px solid #fff5;
    background-color: #000;
    border-radius: 12px;
    padding: 12px;
    margin: 12px 3px
}
.highlight {
    color: var(--se-light);
    text-shadow: 0.1em 0.1em 0 #000b, 0.1em 0.1em 0.5em var(--se-light-dropshadow);
    -webkit-text-stroke: var(--se-regular) 0.025em;
}
.thumbnail {
    width: calc((100% + 24px) / 2);
    transform: translate(-12px, -12px) scale(2);
    transform-origin: 0 0;
    border-radius: 5px 5px 0 0;
    mask-image: url(images/fadeToBlack.png);
    mask-type: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
}
.flickering {
    animation: flickering 0.075s infinite;
}
@keyframes flickering {
    from {
        filter: var(--lu-flicker-on);
    }
    to {
        filter: var(--lu-flicker-off);
    }
}
@keyframes static {
    0% {
        mask-image: url(animationResources/static0.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    12.5% {
        mask-image: url(animationResources/static1.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    25% {
        mask-image: url(animationResources/static2.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    37.5% {
        mask-image: url(animationResources/static3.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    50% {
        mask-image: url(animationResources/static4.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    62.5% {
        mask-image: url(animationResources/static5.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    75% {
        mask-image: url(animationResources/static6.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    87.5% {
        mask-image: url(animationResources/static7.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
    100% {
        mask-image: url(animationResources/static0.png);
        mask-size: 60px;
        mask-mode: luminance;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
