@font-face {
    font-family: "Atlantis Headline";
    src: url(fonts/atlantis/AtlantisHeadline-Bold.otf) format("opentype"),
         url(fonts/atlantis/AtlantisHeadline-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Atlantis Smallcaps";
    src: url(fonts/atlantis/Atlantis-RegularSmallCaps.otf) format("opentype"),
         url(fonts/atlantis/Atlantis-RegularSmallCaps.otf) format("truetype");
}
@font-face {
    font-family: "SF Pixelate";
    src: url(fonts/sf-pixelate/SFPixelate.ttf) format("truetype");
}
#devToolbar{
    background-color: white;
    font: initial;
    animation: none;
    text-shadow: none;
    color: black;
}
html {
    scroll-behavior: smooth;
    image-rendering: pixelated;
}
:root {
    --se-bright: #f4e0fd;
    --se-link: #e7a4f0;
    --se-light: #ca50da;
    --se-regular: #9a10c8;
    --se-moody: #611685;
    --se-success: #0c0;
    --se-success-pop: #030;
    --se-warning: #f00;
    --se-warning-pop: #400;
    /* Flicker constants */
    --lu-flicker-off: brightness(0.9);
    --lu-flicker-on: brightness(1.1);
    /* Static */
    --lu-static: static 2s infinite;
}
.contentColumn {
    width: 1030px;
    margin: 0 auto;
    padding: 2px 0 0 0;
}
body {
    margin: 0;
    padding: 0;
    color: var(--se-bright);
    font-family: "SF Pixelate";
    line-height: 110%;
    background-color: #000;
    background-image: url(vfx/tilingBg.png);
    background-size: 600px;
    -webkit-text-size-adjust: none;
    animation: scrollbg 120s linear infinite;
}
footer {
    margin: 0;
    padding: 0;
}
div.card:not(.noStatic), .static {
    animation: var(--lu-static);
}
h1, h2, p {
    line-height: 150%;
}
h1, h2 {
    margin: 0;
    font-weight: normal;
    font-family: "Atlantis Headline";
    display: inline-block;
}
h1 {
    padding-right: 4px;
    font-size: 260%;
    color: var(--se-regular);
    text-shadow: 0.02em 0.02em var(--se-bright), -0.02em 0.02em var(--se-bright), -0.02em -0.02em var(--se-bright), 0.02em -0.02em var(--se-bright), 0 0 40px var(--se-light);
} 
h2 {
    font-size: 140%;
    color: var(--se-light);
    text-shadow: 0.03em 0.03em var(--se-moody), -0.03em 0.03em var(--se-moody), -0.03em -0.03em var(--se-moody), 0.03em -0.03em var(--se-moody), 0.1em 0.1em #000b, 0 0 24px var(--se-light);
    word-spacing: 0.25em;
}
p, li {
    text-shadow: 0.1em 0.1em #000b, 0 0 16px var(--se-bright);
    word-spacing: -0.2em;
    line-height: 150%;
}
p {
    color: var(--se-bright);
    margin: 0 0 1em 0;
    &:last-of-type {
        margin: 0;
    }
}
ul {
    margin: 16px 0 0 6px;
    padding: 0;
    line-height: 120%;
    list-style-type: none;
}
li {
    margin: 0 0 16px 0;
}
span {
    font: inherit;
}
a {
    text-decoration: inherit;
    color: var(--se-link);
    text-shadow: 0.03em 0.03em var(--se-regular), -0.03em 0.03em var(--se-regular), -0.03em -0.03em var(--se-regular), 0.03em -0.03em var(--se-regular), 0.1em 0.1em #000b, 0 0 16px var(--se-light);
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    &:active {
        opacity: 0.4;
    }
}
table, tr, td {
    vertical-align: top;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    &.horizontal {
        margin-bottom: 12px;
    }
}
button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
marquee {
    margin: 0;
    transform: translateY(4px);
}
.mainAction {
    background-color: var(--se-regular);
    display: flex;
    padding: 8px;
    border: 2px solid #fff5;
    border-radius: 16px;
    width: fit-content; 
    box-shadow: 0.2em 0.2em 0 #000b, 0 0 16px var(--se-regular);
    transform: translateY(-5px);
}
.svgBullet::before {
    display: inline-block;
    height: 1.2em;
    aspect-ratio: 1;
    margin-right: 12px;
    filter: drop-shadow(0 0 10px var(--se-bright));
    transform: translateY(4px);
}
.svgBullet {
    &.folder::before {
        content: url('/icons/folder.svg');
    }
    &.file::before {
        content: url('/icons/file.svg');
    }
    &.picture::before {
        content: url('/icons/picture.svg');
    }
    &.link::before {
        content: url('/icons/link.svg');
    }
    &.more::before {
        content: url('/icons/more.svg');
    }
    &.Discord::before {
        content: url('/logos/discord.svg');
    }
    &.Bluesky::before {
        content: url('/logos/bluesky.svg');
    }
    &.Cara::before {
        content: url('/logos/cara.svg');
    }
    &.DeviantArt::before {
        content: url('/logos/deviantart.svg');
    }
    &.GitHub::before {
        content: url('/logos/github.svg');
    }
    &.Lastfm::before {
        content: url('/logos/lastfm.svg');
    }
    &.MakerWorld::before {
        content: url('/logos/makerworld.svg');
    }
    &.Roblox::before {
        content: url('/logos/roblox.svg');
    }
    &.UDcredits::before {
        content: url('/icons/UDcredits.svg');
    }
    &.UDmiles::before {
        content: url('/icons/UDmiles.svg');
    }
    &.UDbounty::before {
        content: url('/icons/UDbounty.svg');
    }
}
textarea {
    background-color: #222;
    border-radius: 0;
    border: 0px;
    color: var(--se-light);
    font-family: monospace;
    font-size: 80%;
    resize: none;
}
.captionList {
    margin: 2px 0 0 16px;
    & > li {
        margin-bottom: 2px;
    }
}
#guestbookEmbed {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 1200px;
}
#trackart {
    aspect-ratio: 1;
    box-shadow: 0 0 30px #f4e0fda0;
}
svg {
    filter: drop-shadow(0 0 10px var(--se-bright));
}
path.bullet {
    display: inline;
    fill: var(--se-bright); 
}
img.bullet {
    filter: drop-shadow(0.1em 0.1em 0 #000b) drop-shadow(0 0 10px var(--se-light));
    transform: translateY(4px) translateX(-5px);
    width: 22px;
    margin-right: 5px;
}
.card {
    border: 2px solid #fff2;
    background-color: #000;
    border-radius: 12px;
    padding: 12px;
    margin: 12px 6px;
    box-sizing: border-box;
    &:first-child {
        margin-top: 6px;
    }
    &:last-child {
        margin-bottom: 6px;
    }
    &.horizontal {
        margin: 0 6px;
    }
}
.dismissCard {
    float: right;
    transform: translate(14.5px, -14px);
    background-color: #555;
    border: 2px solid #777;
    border-radius: 0 12px 0 0;
    padding: 6px 24px;
    font-family: "SF Pixelate";
    font-size: 120%;
    text-shadow: 0.03em 0.03em var(--se-warning-pop), -0.03em 0.03em var(--se-warning-pop), -0.03em -0.03em var(--se-warning-pop), 0.03em -0.03em var(--se-warning-pop), 0.1em 0.1em #000b, 0 0 24px var(--se-warning);
    color: var(--se-warning);
    &:hover {
        background-color: var(--se-warning-pop);
        cursor: pointer;
    }
    &:active {
        background-color: var(--se-warning);
    }
}
.caption {
    opacity: 0.6; 
    font-size: 75%;
}
.success{
    color: var(--se-success);
    text-shadow: 0.03em 0.03em var(--se-success-pop), -0.03em 0.03em var(--se-success-pop), -0.03em -0.03em var(--se-success-pop), 0.03em -0.03em var(--se-success-pop), 0.1em 0.1em #000b, 0 0 24px var(--se-success);
}
.successCard {
    background-color: var(--se-success-pop) !important;
}
.warning {
    color: var(--se-warning);
    text-shadow: 0.03em 0.03em var(--se-warning-pop), -0.03em 0.03em var(--se-warning-pop), -0.03em -0.03em var(--se-warning-pop), 0.03em -0.03em var(--se-warning-pop), 0.1em 0.1em #000b, 0 0 24px var(--se-warning);
}
.warningCard {
    background-color: var(--se-warning-pop) !important;
}
.highlight {
    color: var(--se-light);
    text-shadow: 0.03em 0.03em var(--se-moody), -0.03em 0.03em var(--se-moody), -0.03em -0.03em var(--se-moody), 0.03em -0.03em var(--se-moody), 0.1em 0.1em #000b, 0 0 16px var(--se-light);
}
.highlightCard {
    background-color: #222 !important;
}
.paper {
    background-color: #eeeeed !important;
    border-radius: 0 !important;
    padding: 0px !important;
}
.thumbnail {
    z-index: 0;
    width: calc(100% + 24px);
    margin-bottom: -80px;
    transform: translate(-12px, -12px);
    border-radius: 10px 10px 0 0;
    mask-image: url(/vfx/maskToBlack.png);
    mask-type: luminance;
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: 100% 100%;
}
.imagePreview {
    position: absolute;
    right: 70px;
    height: 31px;
}
.flickering {
    animation: flickering 0.1s infinite;
}
@keyframes flickering {
    from {
        filter: var(--lu-flicker-on);
    }
    to {
        filter: var(--lu-flicker-off);
    }
}
@keyframes static {
    0% {
        mask-image: url(vfx/static0.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    12.5% {
        mask-image: url(vfx/static1.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    25% {
        mask-image: url(vfx/static2.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    37.5% {
        mask-image: url(vfx/static3.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    50% {
        mask-image: url(vfx/static4.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    62.5% {
        mask-image: url(vfx/static5.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    75% {
        mask-image: url(vfx/static6.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    87.5% {
        mask-image: url(vfx/static7.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
    100% {
        mask-image: url(vfx/static0.png);
        mask-size: 50px;
        mask-mode: luminance;
    }
}
@keyframes scrollbg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1600px 800px;
    }
}
@keyframes spin {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}
